{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>인벤토리</h2>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>상품 코드</th>
                <th>상품 이름</th>
                <th>제품 설명</th>
                <th>제품 가격</th>
                <th>제품 사이즈</th>
                <th>제품 재고량</th>
                <th>제품 입고날짜</th>
                <th>제품 출고날짜</th>
            </tr>
            </thead>
            <tbody>
            {% for product in product_list %}
                <tr>
                    <td>{{ product.product_code }}</td>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.product_descr }}</td>
                    <td>{{ product.product_price }}</td>
                    <td>{{ product.product_size }}</td>
                    <td>{{ product.product_quantity }}</td>
                    <td>{{ product.input_date }}</td>
                    <td>{{ product.output_date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
