{% extends 'base.html' %}

{% block content %}
    <div class="container">
        {% if request.method == 'GET' %}
        <h2 class="mb-4">입고 상품 등록하기</h2>
        <table class="table table-hover">
            <tbody>
            {% for product in product_list %}
                <tr>
                    <td>{{ product.product_code }}</td>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.product_descr }}</td>
                    <td>{{ product.product_price }}</td>
                    <td>{{ product.get_product_size_display }}</td>
                    <td>{{ product.product_quantity }}</td>
                    <td>{{ product.get_product_type_display }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h4>아래를 입력해주세요.</h4>
        {% if error %}
            <p style="color:red">{{ error }}</p>
        {% endif %}
        <form class="row g-3 mt-4" method="post" action="/product_adding/">
            {% csrf_token %}
            <div class="col-md-6">
                <label for="product_code" class="form-label">상품 코드</label>
                <input type="text" class="form-control" id="product_code" name="product_code"
                       value="{{ product_code }}">
            </div>
            <div class="col-md-6">
                <label for="product_size" class="form-label">제품 사이즈</label>
                <select class="form-control" id="product_sizes" name="product_sizes">
                    <option value="">-- 선택 --</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                </select>
            </div>
            <div class="form-group">
                <label for="product_adding_quantity">제품 수량:</label>
                <input type="number" class="form-control" id="product_adding_quantity" name="product_adding_quantity"
                       value="{{ product_adding_quantity }}">
            </div>
             {% endif %}
                    <button type="submit" class="btn btn-primary">제품 입고</button>
                    <a href="/" class="btn btn-secondary">뒤로 가기</a>
                </form></div>
{% endblock %}